HCMDataLoaderSOAPProxy/src/com/oracle/ateam/proxy/hcmloader/HCMDataLoader.xsd

<!-- 
Copyright © 2018, Oracle and/or its affiliates. All rights reserved.

The Universal Permissive License (UPL), Version 1.0
-->
<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/common/dataLoader/core/dataLoaderIntegrationService/types/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="http://xmlns.oracle.com/apps/hcm/common/dataLoader/core/dataLoaderIntegrationService/types/"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <element name="importAndLoadData">
        <complexType>
            <sequence>
                <element name="ContentId" type="string"/>
                <element name="Parameters" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="importAndLoadDataResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="importAndLoadDataAsync">
        <complexType>
            <sequence>
                <element name="ContentId" type="string"/>
                <element name="Parameters" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="importAndLoadDataAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltObjAttrHints">
        <complexType>
            <sequence>
                <element name="viewName" type="string"/>
                <element name="localeName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltObjAttrHintsResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ObjAttrHints"/>
            </sequence>
        </complexType>
    </element>
    <element name="getServiceLastUpdateTime">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getServiceLastUpdateTimeResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:dateTime-Timestamp"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEntityList">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getEntityListResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ServiceViewInfo"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEntityListAsync">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getEntityListAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ServiceViewInfo"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltObjAttrHintsAsync">
        <complexType>
            <sequence>
                <element name="viewName" type="string"/>
                <element name="localeName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDfltObjAttrHintsAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ObjAttrHints"/>
            </sequence>
        </complexType>
    </element>
    <element name="getServiceLastUpdateTimeAsync">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getServiceLastUpdateTimeAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:dateTime-Timestamp"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDataSetStatus">
        <complexType>
            <sequence>
                <element name="Parameters" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDataSetStatusResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDataSetStatusAsync">
        <complexType>
            <sequence>
                <element name="Parameters" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getDataSetStatusAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
